<!-- reviews-index -->



<div class="container">
  <div class="row m-5">
      <h1>Reviews</h1>


      <a href="/reviews/new">New Review</a>

      <a href="/reviews-gif">Find your favorite gif</a>

      <div class="row">
        {{#each reviews}}
          <div class="col-md-3">
            <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
            <small>{{this.gifTitle}}</small>
          </div>
        {{/each}}
      </div>

  </div>
</div>